.question_head{
    width: fit-content;
    margin: 1em auto;
    font-size: 200%;
    font-weight: bold;
}

.admin_blog{
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
    /* border: 5px solid black; */
    text-align: center;
    padding: 1.5em;
    box-shadow: 0 0.4em 0.8rem rgb(197, 11, 187) ;

}

.blog_title textarea, .blog_content textarea, .admin_blog button{
    border: none;
    border-radius: 15px;
    outline: none;
    background: none;
    padding: 0.7em;
    box-shadow: 0 0.4em 0.8rem rgb(197, 11, 187) ;
    margin-bottom: 1em;

}
.blog_title textarea{
    text-align: center;
}

.admin_blog button{
    padding: 0.7em 2.5em;
    margin-bottom: 0em;

}